@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* CORES */
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --azul-botao-1: #136AD4;
    --cor-de-fundo: #00030C;
    --cor-de-fundo-1: #00081f;

    /* FAMÍLIA DE FONTES (FONT-FAMILY) */
    --fonte-principal: "Inter", sans-serif;

    /* TAMANHOS DE FONTE (FONT-SIZE) */
    --tamanho-12: 0.75rem;
    --tamanho-14: 0.875rem;
    --tamanho-16: 1rem;
    --tamanho-28: 1.75rem;
    --tamanho-32: 2rem;
    --tamanho-48: 3rem;

}

* { /* RESET */
    margin: 0;
    padding: 0;
    
    text-decoration: none;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

/* HEADER - CABEÇALHO */

.cabecalho {
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain; /* vai pegar todo o container e ocupa-lo*/
}

.container {
    height: 100vh;
}

.cabecalho__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 9% 58% 0 4%;

    gap: 22px;
}

.cabecalho__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-28);
    font-weight: 700;

    text-align: center;
}

.cabecalho__conteudo__img {
    width: 65%;
}

.cabecalho__botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    margin-top: 2rem;
}

.cabecalho__botao__navegacao-1 {
    background-color: var(--azul-botao);
    border: 1px solid var(--azul-botao);
    border-radius: 8px;

    width: 512px;

    padding: 1rem;

    font-family: var(--fonte-principal);
    font-size: var(--tamanho-16);
    text-align: center;
    color: var(--branco-principal);
}

.cabecalho__botao__navegacao-1:hover {
    background-color: var(--azul-botao-1);
}

.cabecalho__botao__navegacao-2 {
    border: 1px solid var(--branco-principal);
    border-radius: 8px;

    width: 512px;

    padding: 1rem;

    font-family: var(--fonte-principal);
    font-size: var(--tamanho-16);
    text-align: center;
    color: var(--branco-principal);
}

.cabecalho__botao__navegacao-2:hover {
    background-color: var(--branco-principal);
    color: var(--azul-botao-1);
}

.cabecalho__observacao {
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-12);

}

/* MAIN - CONTEÚDO PRINCIPAL */

.apresentacao {
    margin: auto;
    padding: 0 0 10% 0;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 80px;
}

.apresentacao__conteudo {
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 69px;
}

.conteudo__column {
    flex-direction: column;
}

.apresentacao__conteudo__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.conteudo__container__h2 {
    font-family: var(--fonte-principal);
    font-weight: bold;
    font-size: var(--tamanho-48);
}

.titulo__h2 {
    text-align: center;
}

.conteudo__container__texto {
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-16);
}

.apresentacao__conteudo__img {
    width: 50%;
}

.conteudo__container__botao {
    background-color: var(--azul-botao);
    border: 1px solid var(--azul-botao);
    border-radius: 8px;
    width: 126px;

    margin-top: 8px;
    padding: 1rem;

    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-16);
}

.apresentacao__conteudo__container-2 {
    display: flex;
    gap: 62px;
}

.container__dispositivo {
    align-items: center;
}

.container__dispositivo__texto {
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-32);
    font-weight: bold;
    text-align: center;
}

/* FOOTER - RODAPÉ */

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;

    padding: 4% 8% 6%;
}

.rodape__img {
    width: 9%;
}

.rodape__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.rodape__conteudo__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;

    list-style: none;
}

.rodape__menu__link {
    color: var(--branco-principal);

    font-family: var(--fonte-principal);
    font-size: var(--tamanho-16);
}

.rodape__menu__link:hover {
    color: var(--azul-botao-1);
}

.rodape__conteudo__texto {
    color: var(--cinza-secundario);

    text-align: center;
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-14);
}


@media (max-width: 1325px) {
    /*
    .cabecalho__conteudo {
        padding: 9% 40% 0 4%;
    }

    .cabecalho__conteudo__img {
        width: 50%;
    } 
    */

    .container {
        height: auto;
    }

    .cabecalho__botao__navegacao-1, .cabecalho__botao__navegacao-2 {
        width: 85%;
    }

    .rodape {
        background-color: var(--azul-botao-1);
        padding: 4% 8% 8%;
    }

    .rodape__img {
        width: auto;
    }

    .rodape__menu__link {
        text-align: center;
    }

    .rodape__menu__link:hover {
    color: var(--cor-de-fundo);
   }
}

@media (max-width: 900px) {

    .cabecalho {
        background-image: url(./assets/Background-menor.png);
    }

    .container {
        height: auto;
    }

    .cabecalho__conteudo {
        padding: 65% 8% 8% 8%;
    }

    .cabecalho__conteudo__img {
        width: 50%;
    }

    .cabecalho__botao__navegacao-1, .cabecalho__botao__navegacao-2 {
        width: 300px;
    }

    .apresentacao__conteudo {
        flex-direction: column;
        gap: 32px;
    }

    .conteudo__container__h2 {
        text-align: center;
    }

    .conteudo__container__texto {
        text-align: center;
    }

    .apresentacao__conteudo__container {
        align-items: center;
    }

    .rodape__conteudo__menu {
        text-align: center;
        flex-direction: column;
    }

}