@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-principal: "Inter", sans-serif;
}

* { /* RESET */
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.cabecalho {
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain; /* vai pegar todo o container e ocupa-lo*/
}

.container {
    height: 100vh;
}

.cabecalho__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 9% 52% 0 4%;

    gap: 22px;
}

.cabecalho__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: 28px;
    font-weight: 700;

    text-align: center;
}

.cabecalho__conteudo__img {
    width: 50%;
}

.cabecalho__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 22px;

    margin-top: 32px;
}

.cabecalho__links__navegacao-1 {
    background-color: var(--azul-botao);
    border-radius: 8px;

    width: 512px;

    padding: 16px;

    font-family: var(--fonte-principal);
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: var(--branco-principal);
}

.cabecalho__links__navegacao-2 {
    border: 1px solid var(--branco-principal);
    border-radius: 8px;

    width: 512px;

    padding: 15px;

    font-family: var(--fonte-principal);
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: var(--branco-principal);
}

.cabecalho__observacao {

    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-size: 12px;

}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;

    padding: 0 8% 6%;
}

.rodape__img {
    width: 9%;
}

.rodape__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.rodape__conteudo__menu {
    display: flex;
    gap: 12px;
}

.rodape__menu__link {
    color: var(--branco-principal);

    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 16px;
}

.rodape__conteudo__texto {
    color: var(--cinza-secundario);

    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 14px;
}